body {
  background: rgba(100,200,100,.6);
 /* background: url("../images/christmas2.jpg") center bottom no-repeat;*/ 
  background-size:100% auto;
  color:white;
  font-family: Verdana, Helvetica, Arial;
  font-size: 1.5em;
  margin:0;
  padding:0; 
  width:100%;
  height: 100%;
}

a {
  color: blue; }
  a img {
  border: none; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden;}

#container {
  overflow:hidden;
  width: 100%;
  height:100%;
  margin: 0;
  
  padding: 1px;
  /*border: solid 1px black;*/
   }
iframe::-webkit-scrollbar { display: none; }

iframe{
	opacity: 0.9;
	width:98%;
	margin-left:1%;
	position:absolute;
	top:80px;
	height:568px;
	border:none;
	-webkit-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.9);
	box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.9);
}

#title{
	height:80px;
}
#content{
	height:668px;
}
#activities{
	height:200px;
}






/*Elena's review*/

#title,  #activities, h1{
	color:white;
	margin:10px;
	position:absolute;

}

#title, h1{
	top:0px;
}
#activities{
margin-left: -5px;
	bottom:20px;
	width:100%;
	/*background: rgba(255,0,0,.3);*/
	
		
}


#activities .activity{
	display:inline;
	text-decoration:none;
	float:left;
	padding:0;
	margin-left:5%;
}
img.home{
	padding:2px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width:140px;
	height:140px;
	/*border: solid 0px rgba(200,0,0,0.8);*/
}

.inactive{
	border: solid 10px rgba(200,0,0,0);
		z-index:1;
}
.active{
	border: solid 10px rgba(255,100,100,0.8);
	z-index:1;
}

a{
		text-decoration:none;
} 

/*class for the red spots displaying the number of active users/objects for each activity in the list 
it is updated at run time on javascript
*/
.activitycounter{
	z-index:10;
	background-color:rgba(255,0,0,0.8);
	border:solid 3px rgba(255,0,0,0.8);
	color:white;
	padding:.5em;
	margin-left:-20px;

	-moz-border-radius: 35px;
	border-radius: 35px;
	display:inline;
}