= content_for :title, "Poppelvænget"
-#= @current_user.diaspora_id
-#= link_to "Sign out", logout_url

-#</br>
-#= link_to 'status' , 'status/'
-#= link_to 'create' , 'create/'

#content
  %iframe{:src=>"http://idea.itu.dk/augustwimmersvej/noticeboard", :width=>"100%", :height=>"100%"}
    %p Your browser does not support iframes.

=render "shared/bar"
        