Ciao this is status
</br>
=@current_user.diaspora_id
</br>
This is 
=@name
latest update:
= @response['text']
</br>
= @status_message
</br>





</br>
@aspect["aspect_posts"].size
</br>
</br>
@newaspect
</br>
</br>
@aspects["aspects"].size